p {
    background-color: beige;
    padding: 10px 50px;
}

#pan_tadeusz {
    background-color: magenta;
    color: yellow;
}

.lorem {
    font-size: 20px;
}

p#pierwszy,
a {
    font-weight: bold;
}

div#elementy_potomne > p {
    background-color: aqua;
}

p#pierwszy + a {
    color: lime;
}

p#pierwszy ~ a {
    background-color: lightgoldenrodyellow;
}